<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <p>
      If you are trying to {{action}} on the <a href="{{domain_name}}">hypercubing leaderboards</a>, use the following code:
    </p>

    <p>
      <b>{{otp}}</b>
    </p>

    <p>
      DO NOT give this code to anyone else.
      If you did not attempt to {{action}}, ignore this message.
    </p>

    <p>
      Email <a href="mailto:{{support_email}}">{{support_email}}</a> for support.
    </p>
  </body>

</html>
