<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/css/solve_table.css" type="text/css" />
    <script src="/js/solve_table.js" type="text/javascript" ></script>
</head>

<body>

<h1>Leaderboard</h1>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Puzzle</th>
            <th>Solver</th>
            <th>Time</th>
            <th>Date</th>
            <th>Program</th>
            <th>Total solvers</th>
        </tr>
    </thead>
    {{#each table_rows}}
        <tbody class="hide-subcategories">
            {{#each this}}
                <tr class="
                    {{#unless @first}}
                        subcategory
                    {{/unless}}
                ">
                    <td>
                        {{#if @first}}
                            <input type="checkbox" class="expand-subcategories" />
                        {{/if}}
                    </td>
                    <td>
                        {{#if @first}}
                            <span class="primary"><a href="{{this.puzzle_base_url}}">{{this.puzzle_base_name}}</a></span>
                            <span class="subcategory"><a href="{{this.puzzle_cat_url}}">{{this.puzzle_base_name}}: {{this.flag_modifiers}}</a></span>
                        {{else}}
                            <a href="{{this.puzzle_cat_url}}">{{this.puzzle_base_name}}: {{this.flag_modifiers}}</a>
                        {{/if}}
                    </td>
                    <td>{{this.user_name}}</td>
                    <td><a href="{{this.solve_url}}">
                        {{#if this.solve.speed_cs}}
                            {{render_time this.solve.speed_cs}}
                        {{else}}
                            -
                        {{/if}}
                    </a></td>
                    <td>{{date this.solve.upload_time}}</td>
                    <td>{{this.solve.abbreviation}}</td>
                    <td>{{this.total_solvers}}</td>
                </tr>
            {{/each}}
        </tbody>
    {{/each}}
</table>


</body>
</html>