<!DOCTYPE html>
<html>

<head>
    <title>{{name}}</title>
</head>

<body class="container">

    {{> header}}

    <h1>{{name}}</h1>

    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Solver</th>
                <th>Time</th>
                <th>Date</th>
                <th>Program</th>
            </tr>
        </thead>
        <tbody>
            {{#each table_rows}}
            <tr>
                <td>{{this.rank}}</td>
                <td><a href="{{this.user_url}}">{{this.user_name}}</a></td>
                <td><a href="{{this.solve_url}}">
                        {{#if this.time}}
                        {{render_time this.time}}
                        {{else}}
                        -
                        {{/if}}
                    </a></td>
                <td>{{this.date}}</td>
                <td>{{this.abbreviation}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</body>

</html>
